*{
    margin :0;
    padding :0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;

}
/* Define the fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0; /*mlowl transparente w the item decale*/
        transform: translateY(20px);/*L'élément est initialement décalé de 20 pixels vers le bas.(selon laxe y)*/
    }

    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

 header  * {
    opacity: 0; 
    animation: fadeIn 1s ease forwards;/*forwards yaani baad mayekml leffet terjaa klaada*/
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin: 0 auto ;
}

li,h1,a,h2,h3,p{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: rgba(14, 10, 10, 0.855);
    font-weight: 500;
    text-decoration: none;
}


header{
    position: relative;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
}
.logo{
    margin-right: auto;

}
.nav_menu{
    list-style: none;
    z-index: 100;
}
.nav_menu li{
    display: inline-block;
    padding :20px;
}
.nav_menu li a {
    transition: color 0.3s ease, transform 0.3s ease;
}
.nav_menu li a:hover{
    color: hwb(153 0% 56%); 

    }
    
.nav_menu li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.nav_menu li a:hover::after {
   opacity: 1;
}
button{
    color: white;
    background-color: #003325;  
    padding: 9px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: #00703e; 
}
.logo img{
    width: 180px;
    height: auto;
}

.container {
    position: relative; /*lezma bch matodkholch lktuba lfouk */
    height: calc(100vh - 80px);
    width: auto;
    background-size: cover;
    z-index: 5;
    overflow: hidden;
}

.background {
    display: block;
    width: 100%;
    height: 100%;
  transition: transform 1s ease; /*bch tkon effect zoom smooth */
}
.h1-name {
    transition: 0.7s;
    position: absolute;
    top: 40%;
    left: 50%;
   transform: translate(-50%, -50%); /*bch ykon el h1 f west*/
    font-size: 7em; 
    color: white;
    opacity: 0;
}
.sub-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*f west*/
    font-size: 2.3em;
    color: white;
    opacity: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkslategray;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.5s;
}
.container:hover .overlay {
    opacity: 0.4;/*ghme9et chwya*/
    transition: 1s;
}
.container:hover .h1-name{
    transition: 1s;
    color: #003325;
    opacity: 1;
    margin-top: -15px;
    text-decoration: none;
}


.container:hover .sub-heading {
    transition: 1s;
    opacity: 1;
}
.container:hover .background {
    transform: scale(1.1); /* Zoom in by 10% on hover */
}

.plain-white {
    height: 100px; /* Adjust as needed */
    background-color: white;
}


.container-2.explorebrio {
    font-size: 0.5em;
    margin-bottom: 5px;
    
}

.container-2 p{
    margin: 0;
}
.container-2 {
    text-align: center;
}
.marsa {
    font-weight: 600;
    color: #003325;
    font-size: 3em;
    margin-top: 20px;
}
.container-2 p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container-2 button {
    margin: 0.75em;
}
.container-2 button {
    margin: 0.75em;
}

.gallerie {
    background-color: #003325;
    padding: 20px;
}

.gallerie h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-wrapper {
    margin: 10px;
    width: 200px; 
}

.image-wrapper img {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
}

.image-wrapper img:hover {
    transform: scale(1.1);
}




.livre-section {
    display: flex;
    justify-content: center; /* Center the section horizontally */
    align-items: center; /* Center the section vertically */
}

.livre-wrapper {
    display: flex;
    align-items: center;
}

.image-livre img {
    width: 300px; /* Adjust the width as needed */
    height: auto;
    margin-right: 20px; /* Add some space between the image and text */
    transition: transform 0.3s ease; /* Add transition for zoom effect */
    margin-left: 30px;
}

.text-container {
    text-align: center; /* Center the text */
}
.text-container .marsa,.explorebrio, .p{
    margin-top: 20px; 
    margin-bottom: 20px; 
}
.image-livre {
    flex-shrink: 0; /* Prevent the image from shrinking*/
}

.livre-wrapper:hover .image-livre img {
    transform: scale(1.2); /* Zoom in effect on hover 20% */
}


.container-final {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 0px;
}


.slider img {
    width: 100%;
    height: auto;
}

.sticker {
    position: absolute;
    top: 50%;
    right: 20px;
   transform: translateY(-50%); /*sticker f west*/
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    z-index:1; /*  sticker yji above the slider */

}

.sticker h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

.sticker p {
    margin-bottom: 10px;
}

.sticker button {
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
}
footer {
    background-color: #003325;
    color: white;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0; /* Remove the top margin */
    padding: 0;
}

.footer-content {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.container-final {
    margin-bottom: 0; /* Remove the bottom margin */
}

.container .h1-secrets{
    transition: 0.7s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em; /* Increase font size for LE BRIO */
    color: rgb(244, 0, 0);
    opacity: 0;
}

.container:hover .h1-secrets{
    transition: 1s;
    color:#ffffff;
    opacity: 1;
    margin-top: -15px;
    text-decoration: none;
}
.secretsCuisineLeft-container {
    display: flex;
    margin-top: 0;
    align-items: center;
    background-color: rgba(162, 119, 66, 0.305);
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 35px; 
}

.secretsCuisineLeft-container img {
    margin-right: 50px; 
    margin-left: 60px;
    width: 40%;
    height: auto;
}



.secretsCuisineLeft-container h2 {
    text-align: center; 
    margin-bottom: 10px;
    color: #00703e; 
    font: 4em;
    font-size: larger;
    font-weight: bolder;
}

.secretsCuisineLeft-container p {
    text-align: left; /* Aligner le texte à gauche */
    font-weight: bold; 
    font: 3em;
    margin-left: 50px;
}

.gallerie-2{
    display: flex;
    display:inline-flex;
    justify-content: center;
    gap: 7rem;
    width:90rem;

}
.card{
    position: relative;
    left: 0;
    width: 3rem;
    border-radius: 5rem;
    height: 20rem;
    overflow: hidden;
    transition: .4s ease-in-out;
    box-shadow: 0 5 12px rgba(0,0,0,.3);
    flex: .15; /*blech biha tetbloka*/
}
.card img{
    position: absolute;
    height: 20rem;
    object-fit: cover;
}
.card:hover{
    flex: 1 1 0; /*1 flex grow flew shrink bch mayodkhloch fi baadhhom flex basis mnin tebda*/
    cursor: pointer;
}




















.feedback_form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #b6bfb9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback_form h2 {
    margin-bottom: 20px;
    color: hsl(126, 43%, 23%);
}

.feedback_form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}



.container-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}



.counter-wrapper {
    max-width: 1200px; /* Increased width for better spacing */
    margin: 50px auto; /* Auto margin for horizontal centering and added vertical space */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10em; /* Maintain generous spacing between counters */
    padding: 0 20px; /* Add padding to prevent counters from touching the edges */
}

.counter {
    position: relative;
    text-align: center; /* Centering the text inside each counter */
    padding: 20px;
}

.counter h1 {
    font-size: 4em; /* Larger font size for a more impactful display */
    color: #003325; /* Dark gray for a sophisticated look */
    margin: 0;  /* Remove bottom margin */
    font-weight: 300; /* Lighter font-weight for an elegant appearance */
}

.counter h3 {
    font-size: 1.2em; /* Adjusted size for subtext */
    color: #666; /* Lighter gray to differentiate from the main count */
    margin-top: 10px; /* Space between the number and text */
    text-transform: uppercase; /* Uppercase text for a more stylized look */
    letter-spacing: 1px; /* More spacing between letters */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 9999; 
    top: 100%;      
    left: 0;        
}



@media (prefers-reduced-motion: reduce) {
    .hidden, .show {
        transition: none;
        opacity: 1;
        transform: none;
        color: #000;
        background-color : rgba(255, 255, 255, 1);
        box-shadow: none;
    }
}

.hidden {
    opacity: 0;
    transform: translateY(50px) scale(0.95);
    transition: opacity 2s ease, transform 2s ease, color 2s ease, background-color 2s ease;
}

.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}









.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
    display: block;
}



/* Dropdown Content Base Styles */
.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: white; /* clean background */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* softer shadow */
    width: 55px; /* adjust width to suit content */
    border: 1px solid #ddd; /* lighter border for a subtler look */
    border-radius: 3px; /* less pronounced border radius */
    z-index: 1000;
}

/* Dropdown Link Styles */
.dropdown-content a {
    padding: 6px 12px; /* tighter padding */
    display: block;
    text-decoration: none;
    color: black; /* ensuring legibility */
    font-size: 14px; /* optimal font size for readability */
    line-height: 1.2; /* reduced line height for less vertical space */
    transition: background-color 0.2s ease; /* smoother transition */
}

/* Hover Effects for Links */
.dropdown-content a:hover {
    background-color: #f8f8f8; /* lighter hover background for subtlety */
    color: #505050; /* slightly darker text for contrast */
}

/* No additional bottom margins or padding */
.dropdown-content li {
    margin: 0; /* remove default margins */
}

a{
    text-decoration: none;
}












.containerMenu {
    width:1200px;
    margin: auto;
    max-width: 90%;
    transition: transform 1s;
}
.headerMenu img {
    width: 60px;
}
.headerMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerMenu .iconCart {
    position: relative;
    z-index: 1;
}
.headerMenu .totalQuantity {
    position: absolute;
    top: 0;
    right: 0;
    font-size: x-large;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color:#fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(20px);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.listProduct .item img{
    width: 100%;
}
.listProduct .item h2{
    font-weight: 700;
    font-size: x-large;
}
.listProduct .item .price {
    font-size: x-large;
}
.listProduct .item {
    position: relative;
}
.listProduct .item button {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #e6572c;
    color: #fff;
    width: 50%;
    border: none;
    padding: 20px 30px;
    box-shadow: 0 10px 50px #000;
    cursor: pointer;
    transform: translateX(-50%) translateY(100px);
    opacity: 0;
}

.listProduct .item:hover button {
    transition: 0.5s;
    opacity: 1;
    transform: translateX(-50%);
}
.cartMenu {
    z-index: 10000;
    color: #fff;
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    background-color: #0e0f11;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    transition: right 1s;
}
.cartMenu h2{
    color: #e8bc0e;
    padding: 20px;
    margin: 0;
}
.cartMenu .listCart img {
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}
.cartMenu .listCart .item .nameMenu{
    font-weight: bold;
}
.cartMenu .listCart .item .nameMenu {
    font-weight: bold;
}
.cartMenu .listCart .item .quantityMenu {
    display: flex;
    justify-content: end;
    align-items: center;
}
.cartMenu .listCart {
    padding: 20px;
    overflow: auto;
}
.cartMenu .listCart::-webkit-scrollbar{
    width: 0;
}
.cartMenu .buttons {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}
.cartMenu .buttons div {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.cartMenu .buttons a {
    color: #fff;
}
.cartMenu .buttons .checkout{
    background-color: #e8bc0e;
}


.checkoutLayout{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    padding: 20px;
}
.checkoutLayout .right {
    background-color: #003325;
    border-radius:20px ;
    padding: 40px;
    color: #fff;
}
.checkoutLayout .list img {
    height: 70px;
}
.checkoutLayout .right .form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    border-bottom: 1px solid #7a7fe2;
    padding-bottom: 20px;
}
.checkoutLayout .form .group:nth-child(-n+3){
    grid-column-start: 1;
    grid-column-end: 3;
}
.checkoutLayout .form input{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    background-color: #00703e;
    color: #fff;
}
.checkoutLayout .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
}
.checkoutLayout .row div:nth-child(2){
    font-weight: bold;
    font-size: x-large;
}
.buttonCheckout {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #49d8b9;
}
.returnCart h1{
    border-top: 1px solid #eee;
    padding: 20px 0;
}
.returnCart .list .item img{
    height: 80px;
}
.returnCart .item{
    display: grid;
    grid-template-columns: 80px 1fr 50px 80px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
    box-shadow: 0 10px 20px #555;
    border-radius: 20px;
}
.returnCart .item .nameMenu, 
.returnCart .item .returnPrice{
    font-size: x-large;
    font-weight: bold;
}


.invalid {
    border: 1px solid red;
}

.valid-input {
    border: 2px solid green; /* Set the border color to green */
}












.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.empl {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;

    overflow: hidden;
    transition: transform 0.3s ease;
}
.empl:hover {
    transform: scale(1.05); /* Agrandir l'élément au survol */
}

.empl img {
    max-width: 100%;
    height: 450px; /* Hauteur fixe pour les images */
    object-fit: cover; /* Pour conserver les proportions de l'image */
    border-radius: 10px;
    margin-bottom: 10px;

    transition: transform 0.3s;
}
.empl:hover img {
    transform: scale(1.2); /* Agrandir l'image au survol */
}

.empl h2 {
    margin-top: 10px;
    font-size: 20px;
}

.empl p {
    margin-top: 10px;
}