.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px;
}
.card {
    width: 100%;
    aspect-ratio: 2/3;  /* Aspect ratio for vertical images */
    overflow: hidden;
    border-radius: 20px;  /* Adjusted for better visual effect */
    position: relative;
}
.card__image-wrapper {
    height: 100%;
    will-change: transform;
    overflow: hidden;  /* Ensure the image does not overflow */
}
.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body {
    padding: 0 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(150,159,204);
    background: radial-gradient(circle, hsl(230,20%,70%) 0%, rgba(239,239,244,1) 100%);
}
.header {
    height: 50vh;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 500px) {
    .cards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    body {
        background: radial-gradient(
            circle,
            hsl(230, 20%, 70%) 50%,
            rgba(239,239,244,1) 100%
        );
    }
}
